In [ ]:
import numpy as np
import pandas as pd

# original data
data = {
    "날짜":["3/20", "3/21", "3/22", "3/23", "3/24"],
    "매출 편차": np.random.randn(5),
    "손님 평균 연령": np.random.randint(10, 60, 5)
}

#create dataframe
df = pd.DataFrame(data)

#print orginal dataframe
print("Original table")
print(df)
print("\n")

#print only 매출 편차 column
print("매출 편차 column")
print(df["매출 편차"])
print("\n")

#20 years ore older
print("20 years or older")
older = df[df["손님 평균 연령"] >=20]
print(older)
print("\n")

#Change values to NaN
print("Change values to NaN")
df.loc[df["날짜"] == "3/22", "매출 편차"] = np.nan
df.iloc[4,df.columns.get_loc("손님 평균 연령")] = np.nan
print(df)
print("\n")

#Check NaN locations
print("Check NaN location")
print(df.isnull())
print("\n")

#Fill 3/22's 매출 편차 with 0
print("Fill 3/22's 매출 편차 with 0")
df['매출 편차'] = df['매출 편차'].fillna(0)
print(df)
print("\n")

#Fill 3/24's 손님 평균 연령 with average
print("#Fill 3/24's 손님 평균 연령 with average")
df['손님 평균 연령'] = df['손님 평균 연령'].fillna(df['손님 평균 연령'].mean())
print(df)

Original table
     날짜     매출 편차  손님 평균 연령
0  3/20 -0.451496        29
1  3/21 -1.068199        54
2  3/22  2.526927        56
3  3/23  1.496266        30
4  3/24  1.078098        28


매출 편차 column
0   -0.451496
1   -1.068199
2    2.526927
3    1.496266
4    1.078098
Name: 매출 편차, dtype: float64


20 years or older
     날짜     매출 편차  손님 평균 연령
0  3/20 -0.451496        29
1  3/21 -1.068199        54
2  3/22  2.526927        56
3  3/23  1.496266        30
4  3/24  1.078098        28


Change values to NaN
     날짜     매출 편차  손님 평균 연령
0  3/20 -0.451496      29.0
1  3/21 -1.068199      54.0
2  3/22       NaN      56.0
3  3/23  1.496266      30.0
4  3/24  1.078098       NaN


Check NaN location
      날짜  매출 편차  손님 평균 연령
0  False  False     False
1  False  False     False
2  False   True     False
3  False  False     False
4  False  False      True


Fill 3/22's 매출 편차 with 0
     날짜     매출 편차  손님 평균 연령
0  3/20 -0.451496      29.0
1  3/21 -1.068199      54.0
2  3/22  0.000000      56.0
3  3/23  1.496266      30.0
4  3/24  1.078098       NaN


#Fill 3/24's 손님 평균 연령 with average
     날짜     매출 편차  손님 평균 연령
0  3/20 -0.451496     29.00
1  3/21 -1.068199     54.00
2  3/22  0.000000     56.00
3  3/23  1.496266     30.00
4  3/24  1.078098     42.25

In [ ]:
import pandas as pd
import numpy as np

#reading document
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/refs/heads/master/tips.csv")

#printing the first 7 lines
print("first 7 lines:")
print(df.head(7))
print("\n")

#choosing only data with total bill over 20
over = df[df["total_bill"] >= 20]
print("total bill over 20")
print(over)
print("\n")

#sorting values
df.sort_values(by = "tip", ascending = True)
print("sorted by ascending tip")
print(df)

first 7 lines:
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2


total bill over 20
     total_bill   tip     sex smoker  day    time  size
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
5         25.29  4.71    Male     No  Sun  Dinner     4
7         26.88  3.12    Male     No  Sun  Dinner     4
..          ...   ...     ...    ...  ...     ...   ...
237       32.83  1.17    Male    Yes  Sat  Dinner     2
238       35.83  4.67  Female     No  Sat  Dinner     3
239       29.03  5.92    Male     No  Sat  Dinner     3
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2

[97 rows x 7 columns]


sorted by ascending tip
     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]